<app-navbar></app-navbar>

<div class="grid">
  <div class="g-col-4 p-2">
    <h1>Reuniões</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Assunto Reuniãot</th>
        <th scope="col">Descrição</th>
        <th scope="col">Inicio</th>
        <th scope="col">Fim</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reuniao of reunioes$ | async">
        <th scope="row">{{reuniao.idReuniao}}</th>
        <td>{{reuniao.assuntoReuniao}}</td>
        <td>{{reuniao.descricaoReuniao}}</td>
        <td>{{reuniao.inicioReuniao}}</td>
        <td>{{reuniao.fimReuniao}}</td>
      </tr>
    </tbody>
  </table>
</div>
